body {
	color: wheat;
	width: 250px;

	border: 5px solid black;
	background-color: gray;
}
p {
	background-color: white;
	border: 3px solid red;
	color: black;
}
img {
	border: 3px solid black;
}
h1,
h2 {
	background-color: white;
	color: black;
	width: max-content;
	border: 3px solid black;
}
